.add-employee-field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;

    .add-employee-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }
}