.employee-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 400px;

    .back-button-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin: 16px 0px;
    }

    .basic-info-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        .profile-photo-section{
            margin: 0px 65px;
            .profile-img {
                width: 250px;
            }
        }

        .profile-section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin: 0px 65px;
        }
    }

    .personal-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        .personal-data {
            padding: 35px 65px;
        }
    }

    .job-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        .job-data {
            padding: 35px 65px;
        }
    }
}