.base-card {
    min-height: 267px;
    margin-bottom: 1rem;
    background-color: #27374D;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 15px;
    box-shadow: 0 2px 11px 0 #00000020;
}