.d-space-between {
    display: flex;
    justify-content: space-between;
}

.d-align-center {
    display: flex;
    align-items: center;
}

.d-align-start {
    display: flex;
    align-items: flex-start;
}

@for $width from 1 through 100 {
    .w-#{$width} {
        width: calc(#{$width} * 1%) !important;
    }
}