/* You can add global styles to this file, and also import other style files */
@import './assets/scss/main';

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2F3032;
    color: #edeced;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }